.lpb-component-list__group > * {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.lpb-component-list__group > div > div {
  width: 100%;
}

.lpb-component-list__item a {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}
.lpb-component-list__item img {
  max-width: 24px;
  margin-right: 10px;
}
